/* Global styles */


body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f4f4f4;
}

h1, h2 {
    font-weight: 700;
    color: #333;
}

/* Header styles */
header {
    background-color: #2f5061;
    padding: 1rem 0 0 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.header-content {
    display: flex;
    align-items: center;
}

.profile-img {
    width: 60px;
    height: 60px;
    border-radius: 20%;
    margin-right: 1rem;
}

h1 {
    color: white;
}

nav {
    width: 100%;
}

.nav-menu {
    list-style: none;
    display: flex;
    margin: 0;
    justify-content: center;
    align-items: center;
    width: 100%;
    background-color: #000000;
}

.nav-menu li {
    margin: 1rem 1.5rem 1rem 1.5rem;
}

.nav-menu a {
    text-decoration: none;
    color: white;
    font-weight: 700;
}

.nav-menu a.active {
    color: #f4c20d;
}

.menu-toggle {
    display: none;
    background: none;
    border: none;
    color: white;
    font-size: 2rem;
}

/* Main Content */
main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 2rem;
}


.course-work div, .highlighted-location div, .certificate-title {
    background-color: #2f5061;
    padding: 10px;
    margin-bottom: 0;    
    width: auto;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
}

.course-work h2, .highlighted-location h2, .certificate-title h2 {
    text-align: center;
    color: #ffffff;
}

.course-work, .highlighted-location, .certificate {
    background-color: white;
    border-radius: 20px;
    margin-bottom: 1rem;
    width: 100%;
    max-width: 500px;
}

.highlighted-location img {
    display: block;
    width: 50%;
    height: 70%;
    margin: 20px auto;
    border-radius: 8px;
}

.highlighted-location p {
    text-align: center;
}

/* Certificate section */
.course-filters {
    display: flex;
    justify-content: space-around;
    margin-bottom: 1rem;
}

button {
    padding: 0.5rem 2.5rem;
    background-color: #000000;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 10px;
}

.course-list {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.course-list div {
    padding: 1rem;
    border-radius: 8px;
    background-color: #7a5747;
    color: white;
    width: 48%;
    text-align: center;
}

/* Completed courses */
.completed {
    background-color: green;
}

/* Footer styles */
footer {
    background-color: #2f5061;
    color: white;
    text-align: center;
    padding: 1rem;
}

footer img {
    width: 30px;
    height: auto;
    display: block;
    margin: 0.5rem auto;
}

/* Mobile Styles */
@media (max-width: 768px) {
    header {
        flex-direction: column;
    }

    .nav-menu {
        flex-direction: column;
        display: none;
    }

    ul {
        padding-left: 0!important;
    }

    .nav-menu.active {
        display: flex;
    }

    .menu-toggle {
        display: block;
    }

    .course-list div {
        width: 100%;
    }
}
